* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

body {
    background: gray;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background: lightgray
}

main {
    margin-top: 32px;
    color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 32px;
}

.row {
    display: flex;
    flex-direction: row;
}

.description {
    font-size: 16px;
}

.text-contents {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
}

.text-contents button {
    margin: 8px;
}

#quiz-contents {
    display: none;
}

.submit {
    align-items: center;
}

#name-input {
    margin-left: 4px;
}

#end-contents {
    display: none;
}

#score-contents {
    display: none;
}

